window-rule {
    match app-id=r#"^QQ$"#
    match app-id=r#"^com\.follow\.clash$"#
    match app-id="Alacritty" title="btop"

    match app-id=r#"^org\.fcitx\.fcitx5-config-qt$"#

    match app-id=r#"^org\.pulseaudio\.pavucontrol$"#
    match app-id=r#"^blueman-manager$"#

    open-maximized false
    open-floating true
}
