#taskbar {
    background-color: @base00;
    border-radius: 4px;
}
#taskbar button {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: @base01;
    color: @base05;
}
#taskbar button.active {
    background-color: @base02;
}
