@import "./color.css";

/* 全局CSS */
* {
    border: none;
    font-family: "UbuntuMono Nerd Font";
    font-weight: 500;
    font-size: 15px;
    letter-spacing: -0.5px;
    margin: 1px;
}
#waybar {
    background: @base00;
}
tooltip {
    background-color: @base00;
    font-size: 2px;
    color: @base05;
}
tooltip label {
    margin: 2px;
}

/* taskbar */
#taskbar{
    background-color: @base00;
    border-radius: 4px;
}
#taskbar button {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: @base01;
    color: @base05;
}
#taskbar button.active {
    background-color: @base02;
}

/* Center */
#workspaces {

}
#clock {
    background-color: @base00;
}

/* right */
/* 常用控制模块 */
#image,
#mode,
#custom-arrow-left,
#idle_inhibitor,
#wireplumber,
#backlight,
#tray {
    padding: 2px 6px;
    border-radius: 4px;
    background-color: @base01;
    color: @base05;
}
/* 折叠仪表模块 */
#network,
#cpu,
#memory,
#battery,
#temperature {
    padding: 2px 6px;
    border-radius: 4px;
    background-color: @base01;
    color: @base05;
}
/* 报警样式 */
#battery.warning {
    color: @base0A;
}
#cpu.critical,
#memory.critical,
#temperature.critical,
#battery.critical {
    color: @base0A;
}
#battery.urgent {
    color: @base0A;
}
